@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');*/
html{
	font-family: 'Noto Sans TC', 'Noto Serif TC', sans-serif;
	margin: 0;
}
body,ul{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f3cedf;
}
li{
	list-style: none;
}
img{
	vertical-align: middle;
}
a{
	color: #000;
	text-decoration: none;
}
header,main,footer{
	width: 100%;
}
button:hover,.flex-wrap-show{
	cursor: pointer;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	height: 55px;
	background-color: #d84b8d;
	text-align: center;
	z-index: 100;
}
header .box{
	line-height: 55px;
}
.menu{
	width: 60px;
	height: 55px;
	float: left;
}
.logo{
	width: 110px;
	height: 55px;
	display: block;
	margin: 0 auto;
}
.loading:after{
	content: "";
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d84b8d url(../images/logo.png) no-repeat center center;

}
.line-link,.fb-link{
	width: 50px;
	height: 55px;
	float: right;
	display: block;
}
.line-link img,.fb-link img{
	max-width: 40px;
}
.menu img{
	max-width: 35px;
}
.main-nav{
	display: none;
	width: 100%;
	/*position: fixed;
	top: 55px;
	left: 0;*/
	position: relative;
	height: calc(100vh - 55px);
	background-color: rgba(255,255,255,0.9);
}
.main-nav-close, .flex-wrap-close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	background: transparent url(../images/close.png) no-repeat 0 0;
	background-size: contain;
	border-width: 0;
	outline: none;
}
.main-nav ul{
	margin: 0;
	padding: 35px;
}
.main-nav li{
	padding: 7px 15px;
	border-bottom: 1px solid #666;
	text-align: left;
}
.main-nav a{
	display: block;
	padding: 0 10px;
	color: #000;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
}
.main-nav span{
	font-weight: 400;
	font-size: 14px;
	display: block;
}
.padding-top{
	height: 55px;
}
main{
	/*padding-top: 55px;*/
	background: #f3cedf url(../images/bg.png) repeat-x 0 0;
}
h1{
	height: 15px;
	padding: 10px 5px;
	line-height: 15px;
	font-size: 18px;
	margin: 0;
}
h1>span{
	display: none;
}
.back{
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-width: 0;
	outline: none;
	margin-right: 10px;
	margin-top: -2px;
}
.back:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 15px 7.5px 0;
	border-color: transparent #ffffff transparent transparent;
}
#index main{
	background-color: #ecb0ca;
	background-image: none;
}
.banks{
	background-color: #fff;
}
.statement{
	background-color: #cecdcb;
	font-size: 12px;
	padding: 5px 10px;
}
/*.banks{
	text-align: center;
	line-height: 30px;
}
.banks img{
	margin: 0 1%;
	width: 17%;
	max-width: 100px;
	vertical-align: middle;
}*/
.box{
	width: 100%;
	position: relative;
}
.box img{
	width: 100%;
	vertical-align: middle;
}
aside{
	z-index: 10;
	position: relative;
}
.quick-links-show{
	display: none;
	width: 48px;
	height: 138px;
	background: transparent url(../images/quick-links-show.png) no-repeat 0 center;
	background-size: contain;
	border-width: 0;
	outline: none;
	position: fixed;
	/*right: 120px;*/
	right: 10px;
	bottom: calc(50vh - 53px);
}
.top-tip{
	position: fixed;
	width: 100px;
	height: 126px;
	bottom: calc(50vh - 53px);
	right: 10px;
}
.quick-links-close-m{
	background: transparent url(../images/quick-links-close-m.png) no-repeat 0 center;
	width: 100px;
	height: 26px;
	border-width: 0;
	outline: none;
}
.quick-links{
	background-color: #fff;
	padding: 5px 0;
	overflow: auto;
}
.quick-links img{
	float: left;
	width: calc((100% - 10px) / 3);
	padding-right: 5px;
}
.quick-links a:nth-of-type(4) img{
	padding-right: 0;
}
.flex-wrap{
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	background-color: rgba(0,0,0,0.5);
}
.flex-wrap.action{
	display: flex;
}
.flex-box{
	display: inline-block;
	position: relative;
}
.flex-box img{
	max-width: 100vw;
	max-height: 100vh;
}
.flex-wrap-rasie table{
	background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
}
.flex-wrap-rasie div{
	max-height: 100vh;
	overflow-y: auto;
}
.flex-wrap-rasie img{
	max-height: initial;
	width:100%;
	vertical-align: middle;
}
.gototop{
	background: transparent url(../images/top.png) no-repeat 0 center;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-width: 0;
	outline: none;
	position: fixed;
	bottom: 30px;
	right: 10px;
}
.mobile-hide{
	display: none !important;
}
.pc-hide{
	display: block !important;
}
.autoplay{
	width: 45.8vw;
	margin: 0;
	position: absolute;
	top: 0;
	left: 6.25vw;
	padding: 0;
}
.slick-prev{
	left: 0;
	opacity: 0;
}
.slick-next{
	right: 0;
	opacity: 0;
}
.info{
	position: absolute;
	width: 66.3%;
	top: 0;
	left: 5%;
	line-height: calc(100vw * 125 / 720);
	text-align: center;
}
.info div{
	display: none;
}
.info .action{
	display: block;
}
.info a{
	color: #000;
	text-decoration: none;
}
.check-04{
	position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.check-04 li{
	width: 25%;
    padding: 4vw;
    display: inline-block;
}
.apps{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.apps li{
	width: 24%;
	margin: 5px 0;
}
@media screen and (min-width: 768px){
	header{
		height: 72px;
	}
	.menu{
		display: none;
	}
	header .box{
		line-height: 72px;
	}
	.logo{
		height: 72px;
		width: 165px;
		float: left;
	}
	.line-link,.fb-link{
		width: 70px;
		height: 72px;
	}
	.line-link img,.fb-link img{
		max-width: 50px;
	}
	.main-nav{
		position: fixed;
		display: block;
		width: 100%;
		top: 72px;
		left: 0;
		/*height: 45px;*/
		height: 28px;
		background-color: rgba(255,255,255,1);
	}
	.main-nav-close{
		display: none;
	}
	.main-nav ul{
		margin: 0 auto;
		width: calc(100% - 200px);
		max-width: 1100px;
		padding: 0 100px;
		display: flex;
    	justify-content: space-between;
	}
	.main-nav li{
		padding: 0;
		border-bottom-width: 0;
		float: left;
		line-height: 28px;
		/*width: 16%;*/
	}
	.main-nav li:last-child {
	    margin-right: 2%;
	}
	.main-nav a{
		padding: 0;
		font-size: 16px;
		font-weight: 400;
	}
	#check .check-action, #event .event-action, #goods .goods-action, #problem .problem-action{
		color: #da4680;
		font-weight: 700;
	}
	.main-nav span{
		display:none;
	}
	.padding-top{
		height: 100px;
	}
	/*main{
		padding-top: 100px;
	}*/
	h1>span{
		display: inline-block;
		padding: 0 10px;
		margin: 0 10px;
		font-weight: normal;
		border-left: 1px solid #000;
	}
	.statement{
		padding: 5px 0;
	}
	.box{
		width: calc(100% - 200px);
		/*max-width: 1800px;*/
		max-width: 1100px;
		padding: 0 100px;
		margin: 0 auto;
	}
	.quick-links{
		position: fixed;
		width: 96px;
		padding: 4px;
		top: calc(50vh - 212px);
		/*right: 120px;*/
		right: 10px;
	}
	.quick-links img{
		width: 96px;
		padding-right: 0;
		padding-bottom: 4px;
	}
	.quick-links-close{
		width: 60px;
		height: 15px;
		background: transparent url(../images/quick-links-close.png) no-repeat 0 center;
		background-size: contain;
		border-width: 0;
		outline: none;
	}
	.quick-links-show{
		bottom: calc(50vh - 211px);
	}
	.top-tip{
		display: none;
	}
	.flex-box img{
		max-height: 80vh;
	}
	.flex-wrap-rasie div{
		max-height: calc(100vh - 80px);
		overflow-y: auto;
		max-width: 1060px;
	}
	.flex-wrap-rasie img{
		max-height: initial;
	}
	.flex-wrap-rasie .flex-wrap-close{
		right: 30px;
	}
	.mobile-hide{
		display: block !important;
	}
	.pc-hide{
		display: none !important;
	}
	.autoplay{
		width: calc((100% - 200px) * 0.58);
		margin: 0;
		position: absolute;
		top: 0;
		left: 100px;
		padding: 0;
	}
	.slick-prev{
		left: 0;
		opacity: 0;
	}
	.slick-next{
		right: 0;
		opacity: 0;
	}
	.info{
		width: calc((100% - 200px) * 0.31);
		top: 0;
		left: calc((100% - 200px) * 0.18 + 100px);
		/*line-height: 110px;*/
		line-height: calc((100vw - 200px) * 17 / 180);
		text-align: center;
	}
	.info div{
		font-size: 24px;
	}
	.check-04{
	    width: calc((100% - 200px) * 0.62);
	}
	.check-04 li{
		width: 19%;
		padding: 4%;
	}
	.apps{
	    justify-content: flex-start;
	    margin: 10px 40px;
	}
	.apps li{
		width: calc(100% / 12);
	}
}
@media screen and (min-width: 768px) and (max-width: 1150px){
	.main-nav a {
	    font-size: 12px;
	}
	.info div{
		font-size: 16px;
	}
}
@media screen and (min-width: 1300px){
	/*.quick-links,.quick-links-show{
		right: calc(50vw - 490px);
	}*/
	.info{
		line-height: 104px;
	}
}